@{ 
    string title = "Google Books";
    var vb = ViewBag as Dictionary<string, object>;
    if (ViewBag != null && ViewBag.Title != null) {
        title = ViewBag.Title + " - GoogleBooks";
    }
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.15.3-web/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .toast {
            z-index: 99999;
        }
    </style>
</head>
<body style="overflow:hidden">
    @if (ViewBag != null && (string.IsNullOrWhiteSpace(ViewBag.Msg) == false || string.IsNullOrWhiteSpace(ViewBag.Erro) == false))
    {
        if (string.IsNullOrWhiteSpace(ViewBag.Msg) == false)
        {
            <text>
                <div class="toast" style="position: absolute;top: 0;right: 0;">
                    <div class="toast-body alert-success">
                        @ViewBag.Msg
                    </div>
                </div>
            </text>
        }
        if (string.IsNullOrWhiteSpace(ViewBag.Erro) == false)
        {
            <text>
                <div class="toast" style="position: absolute; top: 0; right: 0;">
                    <div class="toast-header">Erro</div>
                    <div class="toast-body alert-danger">
                        @ViewBag.Erro
                    </div>
                </div>
            </text>
        }
        <script>
            document.onreadystatechange = (function () {
                setTimeout(x => { $('.toast').toast({ delay: 3000 }).toast('show'); }, 200);
            });
        </script>
    }
    @RenderBody();
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
