@{
    Layout = "_Layout";
}
<style>
    #Page {
        background: #f1f1f1;
        max-width: 40rem;
        min-width: 300px;
        overflow: hidden;
    }
</style>
<div class="m-auto" id="Page">
    @await Component.InvokeAsync("NavBar")

    <div class="LeftMenuContainer">
        @await Component.InvokeAsync("LeftMenu")
    </div>
        @await Component.InvokeAsync("PrincipalContent", ViewData["BooksToDisplay"])
    </div>

    <script src="~/js/HomeScript.js"></script>
